#h1div{
    height:1%;
    width: 50%;
    text-align: center;
    color: blueviolet;
    align-items: center;
    
}
.header{
    text-align: center;
    text-decoration: double;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 40px;
}

.img{
    width:90%;
    height: 80%;
}

.links{
    text-align: center;
    display: block;
}

#maindivpage2{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr 1fr;
    grid-template-columns:auto;
    justify-items: center;
    overflow:auto;
}

#alterdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -150px;
    
}
.alterdivs{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto; 
    height: 50px;
   
}

.hundler{
    width: 100%; 
    padding: 20px;
    background-color:aqua;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    height: 100%;
}

.form_group{
    display: flex;
    flex-direction: column;
    gap: 5px;


}
.alert-success {
    color: green;
    font-weight: bold;
}
.alert-error {
    color: red;
    font-weight: bold;
}
.alert-info {
    color: blue;
    font-weight: normal;
}
#tablediv{
    width: 85%;
    height: 60%;
    background-color: aqua;
    overflow-y: auto;
    
}
table{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}
.head{
    background-color: rgb(208, 127, 255);
    position: sticky;
    top: 0;
    z-index: 1;
}
table td{
    width: 20px;
    height: 5px;
    border: 1px solid black;
}

.btns{
    background-color: rgb(208, 127, 255);
    width: 100%;
    height: 22px;
}
.innerelementofalters{
    margin-bottom: -7px;
    height: 30px;
}

@media (min-width:768px)and (max-width: 1023px) {
    #main{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:480px) and (max-width:767px) {
    #main{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:768px)and (max-width: 1023px) {
    
#maindivpage2{
    grid-template-rows: 1fr 4fr 2fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    
}
#tablediv{
    max-width: 85%;
    min-width: 60%;   
} 
#alterdiv{
   
    max-width: 80%;
    min-width: 50%;     
    
    
} 
}


@media (min-width:480px) and (max-width:767px) {
    
    #maindivpage2{
        grid-template-rows: 1fr 2fr 1fr;
    }
    #tablediv{
        max-width: 85%;
       min-width: 60%px;     
    } 
    #alterdiv{
        grid-template-columns: 1fr;
        max-width: 88%;
        min-width: 55%; 
        margin-top: -10%;     
    }  
        
    }
@media (max-width: 480px) {
  #main{
        grid-template-columns: 1fr;
    }
     #maindivpage2{
        grid-template-rows: 1fr 2fr 1fr;
    }
    #tablediv{
        max-width: 85%;
       min-width: 60%px;     
    } 
    #alterdiv{
        grid-template-columns: 1fr;
        max-width: 88%;
        min-width: 55%; 
        margin-top: -10%;     
    } 
    
}

