#h1div{
    height: 40px;
    width: 300px;
    text-align: center;
    color: blueviolet;
}
.header{
    text-align: center;
    text-decoration: double;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 40px;
}

.img{
    width:90%;
    height: 80%;
}

.links{
    text-align: center;
    display: block;
}

#maindivpage2{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    background-color: blue;
    margin-left: 100px;
    margin-right: 100px;
    justify-items: center;
    height: 800px;
}

#alterdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    align-items: center;
    
}
.alterdivs{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto; 
   
}

.hundler{
    max-width: 300px;  
    padding: 20px;
    background-color:aqua;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

.form_group{
    display: flex;
    flex-direction: column;
    gap: 5px;


}
.alert-success {
    color: green;
    font-weight: bold;
}
.alert-error {
    color: red;
    font-weight: bold;
}
.alert-info {
    color: blue;
    font-weight: normal;
}
#tablediv{
    width: 60%;
    height: 400px;
    background-color: aqua;
    margin-top: -100px;
    margin-bottom: 20px;
    overflow-y: auto;
    
}
table{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}
.head{
    background-color: rgb(208, 127, 255);
    position: sticky;
    top: 0;
    z-index: 1;
}
table td{
    width: 20px;
    height: 5px;
    border: 1px solid black;
}
#deletediv{
    margin-bottom: 125px;

}
.btns{
    background-color: rgb(208, 127, 255);;
}



